In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df=pd.read_csv("scores_data.csv")

In [21]:
df.head()

       Batch  User_ID     Score
0  AI_ELITE_7  uid_149       6 / 7
1  AI_ELITE_7  uid_148       6 / 7
2  AI_ELITE_7  uid_147       7 / 7
3  AI_ELITE_7  uid_146       7 / 7
4  AI_ELITE_7  uid_145       4 / 7

In [22]:
df.tail()

         Batch  User_ID     Score
144  AI_ELITE_4    uid_5       4 / 7
145  AI_ELITE_4    uid_4       4 / 7
146  AI_ELITE_4    uid_3       4 / 7
147  AI_ELITE_4    uid_2       3 / 7
148  AI_ELITE_4    uid_1       2 / 7

In [23]:
df.isnull().sum()

Batch          0
User_ID        0
   Score       0
dtype: int64

In [24]:
print(df.columns.tolist())

['Batch ', 'User_ID ', '   Score   ']

In [25]:
df.columns = df.columns.str.strip()
print(df.columns.tolist())

['Batch', 'User_ID', 'Score']

In [ ]:
df['Obtained'] = df['Score'].apply(int(x.split('/')[0].strip()))
df['Total'] = df['Score'].apply(lambda x: int(x.split('/')[1].strip()))

df[['Score', 'Obtained', 'Total']].head()

   Score  Obtained  Total
0  6 / 7         6      7
1  6 / 7         6      7
2  7 / 7         7      7
3  7 / 7         7      7
4  4 / 7         4      7